header{
  text-align: center;
  border-bottom: 4pt solid #d0d6b1;
  color: #192823;
}

body{
  background-color: #d0d6b1;
}

#content{
  margin: auto auto;
  max-width: 40em;
  background-color: white;
  padding: 5%;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 1em;
}

code > .co { color: #218559; }
code > .dt { color: #dd1e2f; }
code > .bn { color: #218559; }
code > .kw { color: #035165; }

#content > h1{ 
  border-top: 2pt solid #d0d6b1; padding-top: 0.5em;}

#TOC  ul { list-style-type: none}
a {text-decoration: none; color:#192823;}

p{
  font-family: 'Droid Serif', serif;
  text-align: justify;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
}

code{
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 90%;
}

pre{
  border: 1pt solid #d0d6b1;
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
}

table
    {
    border-collapse: collapse;
    border-spacing: 0; /* IE 6 */

    border-bottom: 2pt solid #d0d6b1;
    border-top: 2pt solid #d0d6b1; /* The caption on top will not have a bottom-border */

    /* Center */
    margin-left: auto;
    margin-right: auto;
    }
    
thead /* Entire table header */
    {
    border-bottom: 1pt solid #d0d6b1;
    }
td, th /* Table cells and table header cells */
    { 
    vertical-align: top; /* Word */
    vertical-align: baseline; /* Others */
    padding-left:   0.5em;
    padding-right:  0.5em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;
    }
th{font-weight: normal; padding: 0.4em 0.5em 0.4em 0.5em;}

